.list {
  list-style: square;
}

.item {
    display: flex;
    justify-content:space-between;
    margin-top: 13px;
    text-transform: capitalize;
    font-size: 16px;
    font-style: italic;
    border-bottom: 1px solid blue;
}

.name {
  font-weight: bold;
  margin-right: 30px;
}

.btn {
    font-size: 14px;
    border: 1px solid black;
    border-radius: 4px;
}
